# Fundamental of Database : One to Many and Many to Many Relation

https://www.udemy.com/course/the-ultimate-mysql-bootcamp-go-from-sql-beginner-to-expert/

## Pre step and Dependency Check

In [1]:
! pip install mysql

Requirement already satisfied: mysql in /Users/mekari53/.local/lib/python3.7/site-packages (0.0.2)
Requirement already satisfied: mysqlclient in /Users/mekari53/.local/lib/python3.7/site-packages (from mysql) (1.4.6)

### Import mysql first

In [2]:
import mysql.connector

mydb = mysql.connector.connect(
    host="127.0.0.1",
    user="root",
    passwd="",
)

print(mydb)

mycursor = mydb.cursor()

<mysql.connector.connection_cext.CMySQLConnection object at 0x103c21310>

### Create Databases

In [3]:
mycursor.execute("CREATE DATABASE learning_relationship")

### Show databases

In [4]:
mycursor.execute("SHOW DATABASES")
query_result = mycursor.fetchall()

In [5]:
# function to print query result
def print_query_result(results):
    for result in results:
        print(result)

In [6]:
print_query_result(query_result)

('information_schema',)
('jurnal_dev',)
('jurnal_dev_2',)
('jurnal_dev_audit',)
('jurnal_test',)
('jurnal_test_2',)
('jurnal_test_audit_2',)
('learning_relationship',)
('mysql',)
('performance_schema',)
('sys',)

### Use Database

In [7]:
mycursor.execute("USE learning_relationship")

In [8]:
# use this if you have 
# DatabaseError: 2014 (HY000): Commands out of sync; you can't run this command now

# mycursor.close()

## Reality of Data

- Real world data is messy and interrelated
- sometimes we need connection of data between tables

## Basic Relationship of Data

1. one to one, e.g: user only has one email, and email for one user
2. one to many, e.g: one book can have many reviews, but review only for one book
3. many to many, e.g: many books can have many authors, and many authors can have many books

## One to Many Relationship

### Primary vs Foreign Key

![primary_foreign_key](https://www.thecrazyprogrammer.com/wp-content/uploads/2019/04/Difference-between-Primary-Key-and-Foreign-Key-1024x672.gif)

### Add customers and orders Tables

In [9]:
mycursor.execute("""
    CREATE TABLE customers(
    id INT AUTO_INCREMENT PRIMARY KEY,
    first_name VARCHAR(100),
    last_name VARCHAR(100),
    email VARCHAR(100)
);""")

In [10]:
# using customer id as foreign key
mycursor.execute("""
    CREATE TABLE orders(
    id INT AUTO_INCREMENT PRIMARY KEY,
    order_date DATE,
    amount DECIMAL(8,2),
    customer_id INT,
    FOREIGN KEY(customer_id) REFERENCES customers(id)
);""")

### Insert data into the table

In [11]:
mycursor.execute("""
INSERT INTO customers (first_name, last_name, email) 
VALUES ('Boy', 'George', 'george@gmail.com'),
       ('George', 'Michael', 'gm@gmail.com'),
       ('David', 'Bowie', 'david@gmail.com'),
       ('Blue', 'Steele', 'blue@gmail.com'),
       ('Bette', 'Davis', 'bette@aol.com');
""")

In [12]:
mycursor.execute("""
INSERT INTO orders (order_date, amount, customer_id)
VALUES ('2016/02/10', 99.99, 1),
       ('2017/11/11', 35.50, 1),
       ('2014/12/12', 800.67, 2),
       ('2015/01/03', 12.50, 2),
       ('1999/04/11', 450.25, 5);
""")

In [13]:
mycursor.execute("""SELECT * FROM customers""")
query_result = mycursor.fetchall()
print_query_result(query_result)

(1, 'Boy', 'George', 'george@gmail.com')
(2, 'George', 'Michael', 'gm@gmail.com')
(3, 'David', 'Bowie', 'david@gmail.com')
(4, 'Blue', 'Steele', 'blue@gmail.com')
(5, 'Bette', 'Davis', 'bette@aol.com')

### This insert will fail because there is no id 98 on customers table (foreign key avoid this situation)

In [14]:
try:
    mycursor.execute("""
    INSERT INTO orders (order_date, amount, customer_id)
    VALUES ('2016/06/06', 33.67, 98);
    """)
except mysql.connector.Error as err:
    print("Something went wrong: {}".format(err))

Something went wrong: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`learning_relationship`.`orders`, CONSTRAINT `orders_ibfk_1` FOREIGN KEY (`customer_id`) REFERENCES `customers` (`id`))

In [15]:
# using subquery to find orders placed by George
mycursor.execute("""
    SELECT * FROM orders WHERE customer_id =
    (
        SELECT id FROM customers
        WHERE last_name='George'
    );
    """)
query_result = mycursor.fetchall()
print_query_result(query_result)

(1, datetime.date(2016, 2, 10), Decimal('99.99'), 1)
(2, datetime.date(2017, 11, 11), Decimal('35.50'), 1)

### Cross Join

![cross_join_round](https://www.w3resource.com/w3r_images/cross-join-round.png)

In [16]:
mycursor.execute("""
    SELECT * FROM customers, orders;
    """)

# or

# mycursor.execute("""
#    SELECT * FROM customers CROSS JOIN orders;
#    """)

query_result = mycursor.fetchall()
print_query_result(query_result)

(1, 'Boy', 'George', 'george@gmail.com', 1, datetime.date(2016, 2, 10), Decimal('99.99'), 1)
(2, 'George', 'Michael', 'gm@gmail.com', 1, datetime.date(2016, 2, 10), Decimal('99.99'), 1)
(3, 'David', 'Bowie', 'david@gmail.com', 1, datetime.date(2016, 2, 10), Decimal('99.99'), 1)
(4, 'Blue', 'Steele', 'blue@gmail.com', 1, datetime.date(2016, 2, 10), Decimal('99.99'), 1)
(5, 'Bette', 'Davis', 'bette@aol.com', 1, datetime.date(2016, 2, 10), Decimal('99.99'), 1)
(1, 'Boy', 'George', 'george@gmail.com', 2, datetime.date(2017, 11, 11), Decimal('35.50'), 1)
(2, 'George', 'Michael', 'gm@gmail.com', 2, datetime.date(2017, 11, 11), Decimal('35.50'), 1)
(3, 'David', 'Bowie', 'david@gmail.com', 2, datetime.date(2017, 11, 11), Decimal('35.50'), 1)
(4, 'Blue', 'Steele', 'blue@gmail.com', 2, datetime.date(2017, 11, 11), Decimal('35.50'), 1)
(5, 'Bette', 'Davis', 'bette@aol.com', 2, datetime.date(2017, 11, 11), Decimal('35.50'), 1)
(1, 'Boy', 'George', 'george@gmail.com', 3, datetime.date(2014, 12, 12), Decimal('800.67'), 2)
(2, 'George', 'Michael', 'gm@gmail.com', 3, datetime.date(2014, 12, 12), Decimal('800.67'), 2)
(3, 'David', 'Bowie', 'david@gmail.com', 3, datetime.date(2014, 12, 12), Decimal('800.67'), 2)
(4, 'Blue', 'Steele', 'blue@gmail.com', 3, datetime.date(2014, 12, 12), Decimal('800.67'), 2)
(5, 'Bette', 'Davis', 'bette@aol.com', 3, datetime.date(2014, 12, 12), Decimal('800.67'), 2)
(1, 'Boy', 'George', 'george@gmail.com', 4, datetime.date(2015, 1, 3), Decimal('12.50'), 2)
(2, 'George', 'Michael', 'gm@gmail.com', 4, datetime.date(2015, 1, 3), Decimal('12.50'), 2)
(3, 'David', 'Bowie', 'david@gmail.com', 4, datetime.date(2015, 1, 3), Decimal('12.50'), 2)
(4, 'Blue', 'Steele', 'blue@gmail.com', 4, datetime.date(2015, 1, 3), Decimal('12.50'), 2)
(5, 'Bette', 'Davis', 'bette@aol.com', 4, datetime.date(2015, 1, 3), Decimal('12.50'), 2)
(1, 'Boy', 'George', 'george@gmail.com', 5, datetime.date(1999, 4, 11), Decimal('450.25'), 5)
(2, 'George', 'Michael', 'gm@gmail.com', 5, datetime.date(1999, 4, 11), Decimal('450.25'), 5)
(3, 'David', 'Bowie', 'david@gmail.com', 5, datetime.date(1999, 4, 11), Decimal('450.25'), 5)
(4, 'Blue', 'Steele', 'blue@gmail.com', 5, datetime.date(1999, 4, 11), Decimal('450.25'), 5)
(5, 'Bette', 'Davis', 'bette@aol.com', 5, datetime.date(1999, 4, 11), Decimal('450.25'), 5)

### Inner Join

![inner_join_round](https://www.w3schools.com/sql/img_innerjoin.gif)

In [17]:
# better to select data that you need instead using *

mycursor.execute("""
    SELECT first_name, last_name, order_date, amount 
    FROM customers
    JOIN orders
    ON customers.id = orders.customer_id;
    """)
query_result = mycursor.fetchall()
print_query_result(query_result)

('Boy', 'George', datetime.date(2016, 2, 10), Decimal('99.99'))
('Boy', 'George', datetime.date(2017, 11, 11), Decimal('35.50'))
('George', 'Michael', datetime.date(2014, 12, 12), Decimal('800.67'))
('George', 'Michael', datetime.date(2015, 1, 3), Decimal('12.50'))
('Bette', 'Davis', datetime.date(1999, 4, 11), Decimal('450.25'))

### Left Join / Right Join

![left_join_round](https://www.w3schools.com/sql/img_leftjoin.gif)

In [18]:
# we want to know customer who have high spent and also who haven't spent yet

mycursor.execute("""
SELECT 
    first_name, 
    last_name,
    IFNULL(SUM(amount), 0) AS total_spent
FROM customers
LEFT JOIN orders
    ON customers.id = orders.customer_id
GROUP BY customers.id
ORDER BY total_spent DESC;
    """)
query_result = mycursor.fetchall()
print_query_result(query_result)

('George', 'Michael', Decimal('813.17'))
('Bette', 'Davis', Decimal('450.25'))
('Boy', 'George', Decimal('135.49'))
('David', 'Bowie', Decimal('0.00'))
('Blue', 'Steele', Decimal('0.00'))

## Many to Many Relationship

![many_to_many](https://fmhelp.filemaker.com/help/18/fmp/en/FMP_Help/images/relational.07.06.1.png)

### Add reviewers, reviews and series Tables

In [19]:
# CREATING THE REVIEWERS TABLE
mycursor.execute("""
    CREATE TABLE reviewers (
    id INT AUTO_INCREMENT PRIMARY KEY,
    first_name VARCHAR(100),
    last_name VARCHAR(100)
);
""")

In [20]:
# CREATING THE SERIES TABLE
mycursor.execute("""
    CREATE TABLE series(
    id INT AUTO_INCREMENT PRIMARY KEY,
    title VARCHAR(100),
    released_year YEAR(4),
    genre VARCHAR(100)
);
""")

#### in many to many, one table contain foreign key for two or many connected tables

In [21]:
# CREATING THE REVIEWS TABLE
mycursor.execute("""
    CREATE TABLE reviews (
    id INT AUTO_INCREMENT PRIMARY KEY,
    rating DECIMAL(2,1),
    series_id INT,
    reviewer_id INT,
    FOREIGN KEY(series_id) REFERENCES series(id),
    FOREIGN KEY(reviewer_id) REFERENCES reviewers(id)
);
""")

### Insert data into the table

In [22]:
mycursor.execute("""
INSERT INTO series (title, released_year, genre) VALUES
    ('Archer', 2009, 'Animation'),
    ('Arrested Development', 2003, 'Comedy'),
    ("Bob's Burgers", 2011, 'Animation'),
    ('Bojack Horseman', 2014, 'Animation'),
    ("Breaking Bad", 2008, 'Drama'),
    ('Curb Your Enthusiasm', 2000, 'Comedy'),
    ("Fargo", 2014, 'Drama'),
    ('Freaks and Geeks', 1999, 'Comedy'),
    ('General Hospital', 1963, 'Drama'),
    ('Halt and Catch Fire', 2014, 'Drama'),
    ('Malcolm In The Middle', 2000, 'Comedy'),
    ('Pushing Daisies', 2007, 'Comedy'),
    ('Seinfeld', 1989, 'Comedy'),
    ('Stranger Things', 2016, 'Drama');
""")

In [23]:
mycursor.execute("""
INSERT INTO reviewers (first_name, last_name) VALUES
    ('Thomas', 'Stoneman'),
    ('Wyatt', 'Skaggs'),
    ('Kimbra', 'Masters'),
    ('Domingo', 'Cortes'),
    ('Colt', 'Steele'),
    ('Pinkie', 'Petit'),
    ('Marlon', 'Crafford');
""")

In [24]:
mycursor.execute("""
INSERT INTO reviews(series_id, reviewer_id, rating) VALUES
    (1,1,8.0),(1,2,7.5),(1,3,8.5),(1,4,7.7),(1,5,8.9),
    (2,1,8.1),(2,4,6.0),(2,3,8.0),(2,6,8.4),(2,5,9.9),
    (3,1,7.0),(3,6,7.5),(3,4,8.0),(3,3,7.1),(3,5,8.0),
    (4,1,7.5),(4,3,7.8),(4,4,8.3),(4,2,7.6),(4,5,8.5),
    (5,1,9.5),(5,3,9.0),(5,4,9.1),(5,2,9.3),(5,5,9.9),
    (6,2,6.5),(6,3,7.8),(6,4,8.8),(6,2,8.4),(6,5,9.1),
    (7,2,9.1),(7,5,9.7),
    (8,4,8.5),(8,2,7.8),(8,6,8.8),(8,5,9.3),
    (9,2,5.5),(9,3,6.8),(9,4,5.8),(9,6,4.3),(9,5,4.5),
    (10,5,9.9),
    (13,3,8.0),(13,4,7.2),
    (14,2,8.5),(14,3,8.9),(14,4,8.9);
""")

In [25]:
mycursor.execute("""DESCRIBE reviewers;""")
query_result = mycursor.fetchall()
print_query_result(query_result)

('id', 'int(11)', 'NO', 'PRI', None, 'auto_increment')
('first_name', 'varchar(100)', 'YES', '', None, '')
('last_name', 'varchar(100)', 'YES', '', None, '')

### Looking for rating of the series

- you can join series and reviews table and select title and rating of the series

In [26]:
mycursor.execute("""
SELECT 
    title, 
    rating 
FROM series
JOIN reviews
    ON series.id = reviews.series_id;
""")
query_result = mycursor.fetchall()
print_query_result(query_result)

('Archer', Decimal('8.0'))
('Archer', Decimal('7.5'))
('Archer', Decimal('8.5'))
('Archer', Decimal('7.7'))
('Archer', Decimal('8.9'))
('Arrested Development', Decimal('8.1'))
('Arrested Development', Decimal('6.0'))
('Arrested Development', Decimal('8.0'))
('Arrested Development', Decimal('8.4'))
('Arrested Development', Decimal('9.9'))
("Bob's Burgers", Decimal('7.0'))
("Bob's Burgers", Decimal('7.5'))
("Bob's Burgers", Decimal('8.0'))
("Bob's Burgers", Decimal('7.1'))
("Bob's Burgers", Decimal('8.0'))
('Bojack Horseman', Decimal('7.5'))
('Bojack Horseman', Decimal('7.8'))
('Bojack Horseman', Decimal('8.3'))
('Bojack Horseman', Decimal('7.6'))
('Bojack Horseman', Decimal('8.5'))
('Breaking Bad', Decimal('9.5'))
('Breaking Bad', Decimal('9.0'))
('Breaking Bad', Decimal('9.1'))
('Breaking Bad', Decimal('9.3'))
('Breaking Bad', Decimal('9.9'))
('Curb Your Enthusiasm', Decimal('6.5'))
('Curb Your Enthusiasm', Decimal('7.8'))
('Curb Your Enthusiasm', Decimal('8.8'))
('Curb Your Enthusiasm', Decimal('8.4'))
('Curb Your Enthusiasm', Decimal('9.1'))
('Fargo', Decimal('9.1'))
('Fargo', Decimal('9.7'))
('Freaks and Geeks', Decimal('8.5'))
('Freaks and Geeks', Decimal('7.8'))
('Freaks and Geeks', Decimal('8.8'))
('Freaks and Geeks', Decimal('9.3'))
('General Hospital', Decimal('5.5'))
('General Hospital', Decimal('6.8'))
('General Hospital', Decimal('5.8'))
('General Hospital', Decimal('4.3'))
('General Hospital', Decimal('4.5'))
('Halt and Catch Fire', Decimal('9.9'))
('Seinfeld', Decimal('8.0'))
('Seinfeld', Decimal('7.2'))
('Stranger Things', Decimal('8.5'))
('Stranger Things', Decimal('8.9'))
('Stranger Things', Decimal('8.9'))

### Looking for highest rating of the series

- you can join series and review table like before
- and then select title and calculate avg(rating)
- and then group by the series and order by the rating average

In [27]:
mycursor.execute("""
SELECT
    title,
    AVG(rating) as avg_rating
FROM series
JOIN reviews
    ON series.id = reviews.series_id
GROUP BY series.id
ORDER BY avg_rating;
""")
query_result = mycursor.fetchall()
print_query_result(query_result)

('General Hospital', Decimal('5.38000'))
("Bob's Burgers", Decimal('7.52000'))
('Seinfeld', Decimal('7.60000'))
('Bojack Horseman', Decimal('7.94000'))
('Arrested Development', Decimal('8.08000'))
('Archer', Decimal('8.12000'))
('Curb Your Enthusiasm', Decimal('8.12000'))
('Freaks and Geeks', Decimal('8.60000'))
('Stranger Things', Decimal('8.76667'))
('Breaking Bad', Decimal('9.36000'))
('Fargo', Decimal('9.40000'))
('Halt and Catch Fire', Decimal('9.90000'))

## Post Step

In [28]:
mycursor.execute("DROP DATABASE learning_relationship;")