From [Julia Academy: Intro to julia](https://juliaacademy.com/courses/intro-to-julia)

# Data structures

Once we start working with many pieces of data at once, it will be convenient for us to store data in structures like arrays or dictionaries (rather than just relying on variables).<br>

Types of data structures covered:
1. Tuples
2. Dictionaries
3. Arrays

<br>
As an overview, tuples and arrays are both ordered sequences of elements (so we can index into them). Dictionaries and arrays are both mutable.
We'll explain this more below!

## Tuples

We can create a tuple by enclosing an ordered collection of elements in `( )`.

Syntax: <br>
```julia
(item1, item2, ...)```

In [1]:
myfavoriteanimals = ("penguins", "cats", "sugargliders")

("penguins", "cats", "sugargliders")

We can index into this tuple,

In [2]:
myfavoriteanimals[1]

"penguins"

but since tuples are immutable, we can't update it

In [3]:
myfavoriteanimals[1] = "otters"

LoadError: MethodError: no method matching setindex!(::Tuple{String,String,String}, ::String, ::Int64)

## Now in 1.0: NamedTuples

As you might guess, `NamedTuple`s are just like `Tuple`s except that each element additionally has a name! They have a special syntax using `=` inside a tuple:

```julia
(name1 = item1, name2 = item2, ...)
```

In [4]:
myfavoriteanimals = (bird = "penguins", mammal = "cats", marsupial = "sugargliders")

(bird = "penguins", mammal = "cats", marsupial = "sugargliders")

Like regular `Tuples`, `NamedTuples` are ordered, so we can retrieve their elements via indexing:

In [5]:
myfavoriteanimals[1]

"penguins"

They also add the special ability to access values by their name:

In [6]:
myfavoriteanimals.bird

"penguins"

## Dictionaries

If we have sets of data related to one another, we may choose to store that data in a dictionary. We can create a dictionary using the `Dict()` function, which we can initialize as an empty dictionary or one storing key, value pairs.

Syntax:
```julia
Dict(key1 => value1, key2 => value2, ...)```

A good example is a contacts list, where we associate names with phone numbers.

In [7]:
myphonebook = Dict("Jenny" => "867-5309", "Ghostbusters" => "555-2368")

Dict{String,String} with 2 entries:
  "Jenny"        => "867-5309"
  "Ghostbusters" => "555-2368"

In this example, each name and number is a "key" and "value" pair. We can grab Jenny's number (a value) using the associated key

In [8]:
myphonebook["Jenny"]

"867-5309"

We can add another entry to this dictionary as follows

In [9]:
myphonebook["Kramer"] = "555-FILK"

"555-FILK"

Let's check what our phonebook looks like now...

In [10]:
myphonebook

Dict{String,String} with 3 entries:
  "Jenny"        => "867-5309"
  "Kramer"       => "555-FILK"
  "Ghostbusters" => "555-2368"

We can delete Kramer from our contact list - and simultaneously grab his number - by using `pop!`

In [11]:
pop!(myphonebook, "Kramer")

"555-FILK"

In [12]:
myphonebook

Dict{String,String} with 2 entries:
  "Jenny"        => "867-5309"
  "Ghostbusters" => "555-2368"

Unlike tuples and arrays, dictionaries are not ordered. So, we can't index into them.

In [13]:
myphonebook[1]

LoadError: KeyError: key 1 not found

In the example above, `julia` thinks you're trying to access a value associated with the key `1`.

## Arrays

Unlike tuples, arrays are mutable. Unlike dictionaries, arrays contain ordered collections. <br>
We can create an array by enclosing this collection in `[ ]`.

Syntax: <br>
```julia
[item1, item2, ...]```


For example, we might create an array to keep track of my friends

In [14]:
myfriends = ["Ted", "Robyn", "Barney", "Lily", "Marshall"]

5-element Array{String,1}:
 "Ted"
 "Robyn"
 "Barney"
 "Lily"
 "Marshall"

The `1` in `Array{String,1}` means this is a one dimensional vector.  An `Array{String,2}` would be a 2d matrix, etc.  The `String` is the type of each element.

or to store a sequence of numbers

In [15]:
fibonacci = [1, 1, 2, 3, 5, 8, 13]

7-element Array{Int64,1}:
  1
  1
  2
  3
  5
  8
 13

In [16]:
mixture = [1, 1, 2, 3, "Ted", "Robyn"]

6-element Array{Any,1}:
 1
 1
 2
 3
  "Ted"
  "Robyn"

Once we have an array, we can grab individual pieces of data from inside that array by indexing into the array. For example, if we want the third friend listed in `myfriends`, we write

In [17]:
myfriends[3]

"Barney"

We can use indexing to edit an existing element of an array

In [18]:
myfriends[3] = "Baby Bop"

"Baby Bop"

Yes, Julia is 1-based indexing, not 0-based like Python.  Wars are faught over lesser issues. I have a friend with the wisdom of Solomon who proposes settling this once and for all with ½ 😃

We can also edit the array by using the `push!` and `pop!` functions. `push!` adds an element to the end of an array and `pop!` removes the last element of an array.

We can add another number to our fibonnaci sequence

In [19]:
push!(fibonacci, 21)

8-element Array{Int64,1}:
  1
  1
  2
  3
  5
  8
 13
 21

and then remove it

In [20]:
pop!(fibonacci)

21

In [21]:
fibonacci

7-element Array{Int64,1}:
  1
  1
  2
  3
  5
  8
 13

So far I've given examples of only 1D arrays of scalars, but arrays can have an arbitrary number of dimensions and can also store other arrays.
<br><br>
For example, the following are arrays of arrays:

In [22]:
favorites = [["koobideh", "chocolate", "eggs"],["penguins", "cats", "sugargliders"]]

2-element Array{Array{String,1},1}:
 ["koobideh", "chocolate", "eggs"]
 ["penguins", "cats", "sugargliders"]

In [23]:
numbers = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]

3-element Array{Array{Int64,1},1}:
 [1, 2, 3]
 [4, 5]
 [6, 7, 8, 9]

Below are examples of 2D and 3D arrays populated with random values.

In [24]:
rand(4, 3)

4×3 Array{Float64,2}:
 0.10791   0.96879   0.537046
 0.870806  0.677858  0.261652
 0.272488  0.146822  0.571891
 0.511841  0.666992  0.120095

In [25]:
rand(4, 3, 2)

4×3×2 Array{Float64,3}:
[:, :, 1] =
 0.905582  0.620347  0.010677
 0.946966  0.6952    0.788966
 0.507817  0.670057  0.477013
 0.479552  0.346216  0.754644

[:, :, 2] =
 0.386561  0.437874  0.67889
 0.159055  0.143516  0.946805
 0.78887   0.792695  0.0473044
 0.203161  0.57374   0.624891

Be careful when you want to copy arrays!

In [26]:
fibonacci

7-element Array{Int64,1}:
  1
  1
  2
  3
  5
  8
 13

In [27]:
somenumbers = fibonacci

7-element Array{Int64,1}:
  1
  1
  2
  3
  5
  8
 13

In [28]:
somenumbers[1] = 404

404

In [29]:
fibonacci

7-element Array{Int64,1}:
 404
   1
   2
   3
   5
   8
  13

Editing `somenumbers` caused `fibonacci` to get updated as well!

In the above example, we didn't actually make a copy of `fibonacci`. We just created a new way to access the entries in the array bound to `fibonacci`.

If we'd like to make a copy of the array bound to `fibonacci`, we can use the `copy` function.

In [30]:
# First, restore fibonacci
fibonacci[1] = 1
fibonacci

7-element Array{Int64,1}:
  1
  1
  2
  3
  5
  8
 13

In [31]:
somemorenumbers = copy(fibonacci)

7-element Array{Int64,1}:
  1
  1
  2
  3
  5
  8
 13

In [32]:
somemorenumbers[1] = 404

404

In [33]:
fibonacci

7-element Array{Int64,1}:
  1
  1
  2
  3
  5
  8
 13

In this last example, fibonacci was not updated. Therefore we see that the arrays bound to `somemorenumbers` and `fibonacci` are distinct.

### Exercises

#### 3.1
Create an array, `a_ray`, with the following code:

```julia
a_ray = [1, 2, 3]
```

Add the number `4` to the end of this array and then remove it.

In [42]:
a_ray = [1, 2, 3]
push!(a_ray, 4)
pop!(a_ray)

4

In [43]:
@assert a_ray == [1, 2, 3]

#### 3.2
Try to add "Emergency" as key to `myphonebook` with the value `string(911)` with the following code
```julia
myphonebook["Emergency"] = 911
```

Why doesn't this work?

In [47]:
# It won't work because "myphonebook" dictionary only accept String as the value

myphonebook["Emergency"] = string(911)

"911"

#### 3.3
Create a new dictionary called `flexible_phonebook` that has Jenny's number stored as an integer and Ghostbusters' number stored as a string with the following code

```julia
flexible_phonebook = Dict("Jenny" => 8675309, "Ghostbusters" => "555-2368")
```

In [48]:
flexible_phonebook = Dict("Jenny" => 8675309, "Ghostbusters" => "555-2368")

Dict{String,Any} with 2 entries:
  "Jenny"        => 8675309
  "Ghostbusters" => "555-2368"

In [49]:
@assert flexible_phonebook == Dict("Jenny" => 8675309, "Ghostbusters" => "555-2368")

#### 3.4
Add the key "Emergency" with the value `911` (an integer) to `flexible_phonebook`.

In [50]:
flexible_phonebook["Emergency"] = 911

911

In [51]:
@assert haskey(flexible_phonebook, "Emergency")

In [52]:
@assert flexible_phonebook["Emergency"] == 911

#### 3.5
Why can we add an integer as a value to `flexible_phonebook` but not `myphonebook`? How could we have initialized `myphonebook` so that it would accept integers as values?

In [ ]:
# it worked because "flexible_phonebook" can add Any data type as value