# Module 4 : Functions, Tuple, dictionaries and data processing

## Function

- a particular piece of code is repeated many times in your program
- use to dividing code into separate, smaller problems, and implement each of them in the form of a separate function.

### Decomposition

- decompose the problem to allow the product to be implemented as a set of separately written functions packed together in different modules.

### Where do the functions come from?

- built-in functions
- preinstalled modules
- directly from your code

In [5]:
def enter_value():
    print("Enter a value: ")
    value = int(input())
    
    
enter_value()
enter_value()
enter_value()

Enter a value:
10
Enter a value:
20
Enter a value:
30

### Parametrized functions

- parameters exist only inside functions in which they have been defined
- assigning a value to the parameter is done at the time of the function's invocation

In [7]:
def message(number):
    print("Enter a number:", number)

message(input('Enter a number = '))

Enter a number = 12
Enter a number: 12

In [8]:
def introduction(firstName, lastName):
    print("Hello, my name is", firstName, lastName)

introduction("Skywalker", "Luke")
introduction("Quick", "Jesse")
introduction("Kent", "Clark")

Hello, my name is Skywalker Luke
Hello, my name is Quick Jesse
Hello, my name is Kent Clark

In [9]:
def introduction(firstName, lastName):
    print("Hello, my name is", firstName, lastName)

introduction(firstName = "James", lastName = "Bond")
introduction(lastName = "Skywalker", firstName = "Luke")

Hello, my name is James Bond
Hello, my name is Luke Skywalker

In [10]:
def sum(a, b, c):
    print(a, "+", b, "+", c, "=", a + b + c)

# This mixing positional and keyword arguments give ERROR
sum(3, a = 1, b = 2)

TypeError: sum() got multiple values for argument 'a'

In [11]:
# This one is not
sum(4, 3, c = 2)

4 + 3 + 2 = 9

In [12]:
# default value
def introduction(firstName="John", lastName="Smith"):
    print("Hello, my name is", firstName, lastName)
    
introduction(lastName="Hopkins")

Hello, my name is John Hopkins

### Excercise Function

In [13]:
def sumOfList(lst):
    sum = 0
    
    for elem in lst:
        sum += elem
    
    return sum

sumOfList([2,3,4,3])

12

In [20]:
def isYearLeap(year):
    return True if year % 400 == 0 or (year % 4 == 0 and year % 100 != 0) else False
        
    

testData = [1900, 2000, 2016, 1987]
testResults = [False, True, True, False]
for i in range(len(testData)):
	yr = testData[i]
	print(yr,"->",end="")
	result = isYearLeap(yr)
	if result == testResults[i]:
		print("OK")
	else:
		print("Failed")

1900 ->OK
2000 ->OK
2016 ->OK
1987 ->OK

In [32]:
def isYearLeap(year):
    return True if year % 400 == 0 or (year % 4 == 0 and year % 100 != 0) else False

def daysInMonth(year, month):
    if month == 2 and isYearLeap(year): return 29 
    
    if month == 2 and not isYearLeap(year): return 28
    
    if month <= 7 and month % 2 == 0: return 30
    
    if month <= 7: return 31

    if month > 7 and month % 2 == 0: return 31
    
    if month > 7: return 30

testYears = [1900, 2000, 2016, 1987]
testMonths = [2, 2, 1, 11]
testResults = [28, 29, 31, 30]
for i in range(len(testYears)):
	yr = testYears[i]
	mo = testMonths[i]
	print(yr, mo, "->", end="")
	result = daysInMonth(yr, mo)
	if result == testResults[i]:
		print("OK")
	else:
		print("Failed")

1900 2 ->OK
2000 2 ->OK
2016 1 ->OK
1987 11 ->OK

In [36]:
def isYearLeap(year):
    return True if year % 400 == 0 or (year % 4 == 0 and year % 100 != 0) else False

def daysInMonth(year, month):
    if month == 2 and isYearLeap(year): return 29 
    
    if month == 2 and not isYearLeap(year): return 28
    
    if month <= 7 and month % 2 == 0: return 30
    
    if month <= 7: return 31

    if month > 7 and month % 2 == 0: return 31
    
    if month > 7: return 30

def dayOfYear(year, month, day):
    if day == daysInMonth(year, month) and isYearLeap(year): return 366
    
    if day == daysInMonth(year, month) and not isYearLeap(year): return 365
        
    return False

print(dayOfYear(2000, 12, 31))

366

In [42]:
def isPrime(num):
    if num > 1:
        for i in range(2,num):
            if num % i == 0:
                return False
        else:
            return True
    else:
        return True


for i in range(1, 20):
	if isPrime(i + 1):
			print(i + 1, end=" ")
print()

2 3 5 7 11 13 17 19

In [50]:
def bmi(weight, height):
    return weight / height ** 2

print(bmi(52.5, 1.65))

19.283746556473833

In [51]:
def bmi(weight, height):
    if height < 1.0 or height > 2.5 or \
    weight < 20 or weight > 200:
        return None
    
    return weight / height ** 2

print(bmi(352.5, 1.65))

None

In [56]:
def isItATriangle(a, b, c):
    return a + b > c and b + c > a and c + a > b
    

print(isItATriangle(1, 1, 1))
print(isItATriangle(1, 1, 3))

True
False

In [58]:
def factorialFun(n):
    if n < 0: return None
    
    if n < 2: return 1
    
    return n * factorialFun(n - 1)

for n in range(1, 6): # testing
    print(n, factorialFun(n))

1 1
2 2
3 6
4 24
5 120

In [63]:
def fib(n):
    if n < 1: return None
    
    if n < 3: return 1

    return fib(n - 1) + fib(n - 2)

for n in range(1, 10): # testing
    print(n, "->", fib(n))

1 -> 1
2 -> 1
3 -> 2
4 -> 3
5 -> 5
6 -> 8
7 -> 13
8 -> 21
9 -> 34

### Excercise Scope

In [46]:
def scopeTest():
    x = 123

scopeTest()
print(x)

NameError: name 'x' is not defined

In [47]:
def myFunction():
    print("Do I know that variable?", var)

var = 1
myFunction()
print(var)

Do I know that variable? 1
1

In [48]:
def myFunction():
    global var
    var = 2
    print("Do I know that variable?", var)

var = 1
myFunction()
print(var)

Do I know that variable? 2
2

In [49]:
def myFunction(n):
    print("I got", n)
    n += 1
    print("I have", n)

var = 1
myFunction(var)
print(var)

I got 1
I have 2
1

## Tuples and Dictionary

### Tuples

- immutable
- tuples prefer to use parenthesis
- possible to create a tuple just from a set of values separated by commas.

In [ ]:
tuple1 = (1, 2, 4, 8)
tuple2 = 1., .5, .25, .125
print(tuple1)
print(tuple2)

In [64]:
myTuple = (1, 10, 100, 1000)

print(myTuple[0])
print(myTuple[-1])
print(myTuple[1:])
print(myTuple[:-2])

for elem in myTuple:
    print(elem)

1
1000
(10, 100, 1000)
(1, 10)
1
10
100
1000

### Dictionary

- mutable
- key-value pairs

In [65]:
dict = {"cat" : "chat", "dog" : "chien", "horse" : "cheval"}
phoneNumbers = {'boss' : 5551234567, 'Suzy' : 22657854310}
emptyDictionary = {}

print(dict)
print(phoneNumbers)
print(emptyDictionary)

{'cat': 'chat', 'dog': 'chien', 'horse': 'cheval'}
{'boss': 5551234567, 'Suzy': 22657854310}
{}

In [66]:
dict = {"cat" : "chat", "dog" : "chien", "horse" : "cheval"}

for key in dict.keys():
    print(key, "->", dict[key])

cat -> chat
dog -> chien
horse -> cheval

In [67]:
dict = {"cat" : "chat", "dog" : "chien", "horse" : "cheval"}

for english, french in dict.items():
    print(english, "->", french)

cat -> chat
dog -> chien
horse -> cheval

In [68]:
dict = {"cat" : "chat", "dog" : "chien", "horse" : "cheval"}

dict['cat'] = 'minou'
print(dict)

{'cat': 'minou', 'dog': 'chien', 'horse': 'cheval'}

In [69]:
# Tuple and Dictionary work together

schoolClass = {}

while True:
    name = input("Enter the student's name (or type exit to stop): ")
    if name == 'exit':
        break
    
    score = int(input("Enter the student's score (0-10): "))
    
    if name in schoolClass:
        schoolClass[name] += (score,)
    else:
        schoolClass[name] = (score,)
        
for name in sorted(schoolClass.keys()):
    sum = 0
    counter = 0
    for score in schoolClass[name]:
        sum += score
        counter += 1
    print(name, ":", sum / counter)

Enter the student's name (or type exit to stop): Johnson
Enter the student's score (0-10): 10
Enter the student's name (or type exit to stop): Robin
Enter the student's score (0-10): 7
Enter the student's name (or type exit to stop): exit
Johnson : 10.0
Robin : 7.0